@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --main-background: rgb(34, 52, 77);  
  --navbar-height: 25em;
}

@layer base {
  /* Crear clases personalizadas usando las variables */
  .bg-sidebar {
    background-color: rgba(16, 23, 42);
  }
  
  .bg-hover {
    background-color: #78dcca;
  }

  .bg-div {
    background-color: rgb(4, 11, 20);
  }

  .bg-selected {
     background-color: rgba(58, 63, 95);
  }


}


.container{
background: var(--main-background)
}
