@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --main-background: rgb(34, 52, 77);
  --navbar-height: 25em;
}

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  /* Crear clases personalizadas usando las variables */
  .bg-sidebar {
    background-color: rgba(16, 23, 42);
  }

  .bg-hover {
    background-color: #78dcca;
  }

  .bg-div {
    background-color: rgb(4, 11, 20);
  }

  .bg-selected {
    background-color: rgba(58, 63, 95);
  }
}

.container {
  background: var(--main-background);
}

/*
.app-background {
  background:
  
   radial-gradient(2000px 1300px at 95% 15%, rgba(35, 9, 77, 0.877), transparent 82%),
    radial-gradient(1900px 1200px at 50% 95%, rgba(33, 3, 82, 0.541), transparent 83%), 

     radial-gradient(1500px 900px at 20% 70%, rgba(38, 1, 87, 0.822), transparent 85%),
    radial-gradient(1400px 850px at 80% 60%, rgba(34, 5, 87, 0.534), transparent 88%),
    radial-gradient(1300px 800px at 40% 30%, rgba(12, 3, 59, 0.473), transparent 90%),
    
    radial-gradient(1600px 1000px at 70% 25%, rgba(5, 1, 37, 0.733), transparent 84%),
    radial-gradient(1500px 950px at 30% 85%, rgba(24, 3, 73, 0.178), transparent 86%),

    
    radial-gradient(2000px 2000px at 50% 50%, transparent 55%, rgba(0, 0, 0, 0.52) 100%),


    radial-gradient(
      700px circle at 30% 0%,
      rgba(25, 127, 141, 0.18),
      transparent 100%
    ),
    radial-gradient(
      700px circle at 90% 20%,
      rgba(25, 8, 71, 0.959),
      transparent 100%
    ),
    radial-gradient(
      600px circle at 0% 60%,
      rgba(82, 70, 114, 0.164),
      transparent 100%
    ),
    radial-gradient(
        500px circle at 90% 90%,
        rgba(29, 12, 85, 0.25) 0%,
        transparent 100%
        
        linear-gradient(180deg, #010b22 0%, #000313 50%, #011827 100%);
        ), 
      }
      */

.app-background {
  background:
      radial-gradient(500px 500px at 0% 0%, rgba(15, 37, 80, 0.877), transparent 100%),
     radial-gradient(500px 1500px at 100% 35%, rgba(10, 37, 88, 0.877), transparent 100%),
     radial-gradient(500px 1500px at 0% 55%, rgba(1, 12, 31, 0.877), transparent 100%),

  linear-gradient(
      180deg,
      #0a1628 0%,
      #081224 35%,
      #060f1f 65%,
      #050d1a 100%
    );
  
}

:root {
  /* --gradient-primary: linear-gradient(90deg,rgba(221, 168, 113, 1) 0%, rgba(219, 14, 198, 1) 100%);
  --gradient-secondary: linear-gradient(90deg,rgb(88, 68, 165) 0%, rgb(129, 8, 117) 100%); */
  --gradient-primary: linear-gradient(90deg,rgb(0, 195, 255)0%, rgb(0, 132, 255) 100%);
  --gradient-secondary: linear-gradient(90deg,rgb(204, 150, 34) 0%, rgb(204, 74, 45) 100%);
}

.bg-gradient-primary { background: var(--gradient-primary); }
.bg-gradient-secondary { background: var(--gradient-secondary); }

.text-gradient-primary {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-gradient-secondary {
  background: var(--gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Hover effects */
/* .bg-gradient-primary:hover { 
  background: linear-gradient(135deg, #7C3AED 0%, #DB2777 100%);
} */

/* Transiciones suaves */
.transition-gradient {
  transition: background 0.3s ease;
}

.scrollbar-blue::-webkit-scrollbar {
  height: 10px;
}


::-webkit-scrollbar-track {
  background: rgba(4, 29, 88, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(10, 40, 105, 0.8),
    rgba(8, 37, 83, 0.9)
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 40, 105, 0.8),
    rgba(8, 37, 83, 0.9)
  );
}

/* Soporte para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(8, 37, 83, 0.9) rgba(15, 23, 42, 0.6);
}

.bg-custom-gradient {
  background: linear-gradient(to bottom right, 
              transparent 35%, 
              rgba(23, 37, 84, 0.3) 100%);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.1);

  border: 1px oklch(48.8% 0.243 264.376) solid;
}